@font-face {
  font-family: Glorich;
  src: url("../Glorich\ Semi\ Bold.otf");
}
@font-face {
  font-family: GlorichExtraBold;
  src: url("../GlorichExtraBold.otf");
}
@font-face {
  font-family: RecklessNueueLight;
  src: url("../RecklessNeue-Thin.ttf");
}
@font-face {
  font-family: RecklessNueueItalic;
  src: url("../RecklessNeue-ThinItalic.woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
  background: linear-gradient(to right, #000000, #1c1d1f);
}

/* Universal css class */
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.text-box p {
  font-family: "Josefin sans";
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Universal css class end*/

/* ------------- Desktop Part Coding Starts From Here --------- */

/* Header - Starting Page CSS only for desktop part */
.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(10, 19, 30, 0.7), rgba(9, 18, 28, 0.5)),
    url("../images/Habba/34.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  padding: 2% 2%;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 80px;
  cursor: pointer;
  border-radius: 10px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: #fff;
  font-family: "Kanit", sans-serif;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 3px;
  background: #eea47f;
  display: block;
  margin: auto;
  transition: 1s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.text-box {
  width: 90%;
  color: #fff;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1 {
  font-size: 50px;
  background: -webkit-linear-gradient(#3a3ad8, #b5b7ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* font-family: "Expletus Sans", sans-serif; */
  font-family: Glorich;
  margin-top: 100px;
  margin-bottom: -15px;
  /* letter-spacing: 20px; */
}

.text-box h2 {
  font-size: 125px;
  color: #ff6e00;
  /* font-family: "Cinzel Decorative", cursive; */
  font-family: GlorichExtraBold;
  /* font-family: "Public Sans", sans-serif; */
  letter-spacing: 6px;
  margin-bottom: 3%;
  font-weight: 100;
}

.text-box span {
  /* font-family: "Bungee Spice", sans-serif; */
  background: -webkit-linear-gradient(#3a3ad8, #b5b7ff);
  background: -webkit-linear-gradient(#ffaf72, #ff6e00);
  -webkit-background-clip: text;
  /* font-family: "Rochester", cursive; */
  font-family: RecklessNueueLight;
  font-weight: 700;
  color: #717ffc;

  font-size: 50px;
  letter-spacing: 4px;
}

.text-box p {
  margin: 10px 0px 20px 0px;
  letter-spacing: 2px;
  font-family: RecklessNueueItalic;
  font-weight: 100;
  font-size: 30px;
  color: #fff;
}

.button {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.button-home {
  text-decoration: none;
  display: flex;
  justify-content: center;
  color: black;
  align-items: center;
  padding: 12px 70px;
  font-size: 22px;
  word-spacing: 5px;
  letter-spacing: 2px;
  font-family: "Rochester", sans-serif;
  background: #717ffc;
  position: relative;
  cursor: pointer;
  margin: 10px 0px 0px 0px;
}

.button-home button {
  color: black;
  font-family: "Rochester", sans-serif;
  position: relative;
  z-index: 2;
  letter-spacing: 2px;
  word-spacing: 4px;
  font-weight: 100;
  border: none;
  font-size: 22px;
  background: transparent;
}

.button-home:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: white;
  transition: all 0.35s;
}

.button-home:hover {
  color: #fff;
}

.button-home:hover:after {
  color: white;
  width: 100%;
}

.button-home-right {
  display: block;
  text-decoration: none;
  color: black;
  padding: 12px 70px;
  font-size: 18px;
  background: transparent;
  color: #ff913d;
  border: 1px solid white;
  position: relative;
  cursor: pointer;
  margin: 10px 0px 0px 0px;
  transition: 0.4s ease-in-out;
}

.button-home-right button {
  font-family: "Rochester", sans-serif;
  position: relative;
  z-index: 2;
  letter-spacing: 2px;
  word-spacing: 4px;
  font-weight: 100;
  border: none;
  color: white;
  font-size: 22px;
  background: transparent;
}

.button-home-right:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ff6e00;
  transition: all 0.35s;
}

.button-home-right:hover {
  border: none;
  color: #fff;
}

.button-home-right:hover:after {
  color: white;
  width: 100%;
}

nav .fa {
  display: none;
}

/* Header - Starting Page CSS end ----------- */

/* Countdown only for Desktop Part */
.count {
  /* background: url("../images/Habba/beanstalk.webp"); */
  padding: 50px;
}

#countdown {
  font-family: "Syne", sans-serif;
  letter-spacing: 2px;
  background-color: rgba(255, 255, 255, 0.448);
  letter-spacing: 5px;
  justify-content: center;
  text-align: center;
  font-size: 2em;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 10px;
  padding: 5px;
  color: #0000ff;
  font-weight: bolder;
}

.stext {
  color: #ff6e00;
  font-size: 100px;
  letter-spacing: 10px;
  font-family: "Codystar", sans-serif;
}

/* Countdown CSS end ---------- */

/* About Habba only for Desktop Part */
.about-habba {
  width: 100%;
  margin: auto;
  padding: 50px;
  justify-content: space-around;
}

.about-habba-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/abtbg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ff5500;
}

.about-habba-2 {
  background-color: #ffffff00;
}

.about-habba-txt {
  width: 50%;
  text-align: justify;
}

.about-habba-txt p {
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  font-weight: 200;
  color: #fff;
}

.about-habba-simbha {
  width: 40%;
}

.about-habba-txt h1 {
  font-family: "Syne", sans-serif;
  letter-spacing: 2px;
  font-size: 2rem;
  margin: 15px 0;
}

.about-habba-simbha img {
  width: 100%;
  border-radius: 0%;
  margin-bottom: -56px;
  filter: drop-shadow(10px 5px 10px rgba(0, 0, 0, 0.5));
}

.about-habba-simbha1 img {
  width: 500px;
  margin-bottom: -93px;
  border-radius: 0%;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));
}

/* About Habba CSS end ---------- */

/* EDM Night only for Desktop Part */
.picture-sec {
  width: 100%;
  text-align: center;
  padding: 25px;
  margin: auto;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgb(0, 0, 0)),
    url("../images/Habba/10.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  /* background-color: #00d9ff; */
}

.picture-sec .edm-cont {
  width: 100%;
}

.picture-sec .edm-cont h1 {
  background: -webkit-linear-gradient(#ffb881, #ff5500);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: rgba(255, 255, 255, 0) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  font-size: 120px;
  letter-spacing: 5px;
  /*font-family: "Exo 2", sans-serif;*/
  font-family: "Philosopher", sans-serif;
  margin: 0px 0px 0px 0px;
}

.picture-sec .edm-cont h2 {
  width: 100px;
  font-family: "Syne", sans-serif;
  text-align: left;
  font-size: 40px;
  margin: 30px 0px 10px 37px;
  color: greenyellow;
}

.picture-sec .edm-cont .edmh {
  width: 100px;
  font-family: "Syne", sans-serif;
  text-align: left;
  font-size: 45px;
  margin: -310px 0px 10px 747px;
  color: rgb(251, 72, 72);
}

.picture-sec .edm-cont p {
  /*text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.427);*/
  font-family: "Outfit", sans-serif;
  font-size: 14px;
  font-weight: 200;
  line-height: 20px;
  text-align: justify;
  width: 45%;
  margin: 0px 0px 15px 40px;
  letter-spacing: 1.5px;
}

.picture-sec .edm-cont .edmp {
  font-family: "Outfit", sans-serif;
  font-size: 14px;
  font-weight: 200;
  line-height: 20px;
  text-align: justify;
  width: 45%;
  margin: 0px 0px 15px 750px;
  letter-spacing: 1.5px;
}

.edm-cont a {
  margin: 20px;
}

.hero-btn1 {
  display: inline-block;
  text-decoration: none;
  color: black;
  border-radius: 100px;
  padding: 18px 100px;
  font-size: 25px;
  font-weight: 600;
  font-family: "Outfit", sans-serif;
  background: silver;
  position: relative;
  cursor: pointer;
  letter-spacing: 2px;
}

.hero-btn1:hover {
  background-color: #2d2d2d;
  margin: 20px;
  padding: 18px 100px;
  color: white;
  transition: 0.9s;
}

.picture-sec .edm-night img {
  width: 35rem;
  margin: 2rem;
  border-radius: 10px;
}

.picture-sec .last-yr-snap h3 {
  font-size: 80px;
  letter-spacing: 2px;
  font-family: "Syne", sans-serif;
  margin: 50px 0px 0px 0px;
}

.picture-sec .last-yr-snap .pict img {
  cursor: pointer;
  width: 20rem;
  border-radius: 8px;
  border: 5px solid white;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  margin: 40px 5px 5px 5px;
}

.pict {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* EDM Night CSS end ---------- */

/* Footer page only for Desktop Part */
footer {
  width: 100%;
  position: absolute;
  bottom: 1;
  background-color: rgba(255, 255, 255, 0);
  /*background: url('../images/Habba/beanstalk.webp');*/
  color: #eea47f;
  padding: 30px 0 10px;
  font-size: 13px;
  line-height: 10px;
}

.row {
  width: 95%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.col {
  flex-basis: 25%;
  padding: 10px;
}

.col p {
  margin-top: 20px;
  font-size: 15px;
  line-height: 2;
  color: white;
  letter-spacing: 2px;
  font-family: "Outfit", sans-serif;
}

.col i {
  color: #717ffc;
}

.col p {
  font-size: 15px;
  line-height: 1.5;
  color: rgb(255, 255, 255);
  text-decoration: none;
  letter-spacing: 1.5px;
  font-family: "Outfit", sans-serif;
}

.col:nth-child(2),
.col:nth-child(3) {
  flex-basis: 30px;
}

.col img {
  width: 250px;
  border-top-left-radius: 20px;
}

.col h1 {
  font-weight: 20px;
  color: #ff934f;
  width: fit-content;
  margin-bottom: 55px;
  position: relative;
  font-family: "Syne", sans-serif;
  font-size: 25px;
}

.email-id {
  width: fit-content;
  margin: 10px 0;
}

ul li {
  list-style: none;
  margin-bottom: 15px;
}

.col ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 15px;
  line-height: 0.8;
  font-weight: 370;
  font-family: "Outfit", sans-serif;
  letter-spacing: 1px;
  margin-left: -2px;
}

form {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ffffff;
  margin-bottom: 50px;
  font-family: "Rajdhani", sans-serif;
}

form i {
  font-size: 18px;
  margin-right: 10px;
  color: #717ffc;
}

form input {
  width: 100%;
  background: transparent;
  color: #000000;
  border: 0;
  outline: none;
  font-family: "Rajdhani", sans-serif;
  font-size: 20px;
}

form button {
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

form button i {
  font-size: 16px;
  color: #ffffff;
}

.social-icons a {
  margin-right: 100%;
  padding: 0px 40px 0px 20px;
}

.social-icons a {
  width: 40px;
  height: 40px;
  border-radius: 10%;
  text-align: left;
  line-height: 40px;
  font-size: 30px;
  margin-right: 13.5px;
  margin-left: -20px;
  cursor: pointer;
}

hr {
  width: 90%;
  border: 0;
  border-bottom: 1px solid #717ffc;
  margin: 20px auto;
}

.copyrights {
  text-align: center;
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 10px;
}

.underline {
  width: 100%;
  height: 5px;
  background: #152cfa00;
  border-radius: 3px;
  position: absolute;
  top: 25px;
  left: 0;
  overflow: hidden;
}

.underline span {
  width: px;
  height: 100%;
  background: #ffffff;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: moving 2s linear infinite;
}

@keyframes moving {
  0% {
    left: -20px;
  }
  100% {
    left: 100px;
  }
}

/* Footer page CSS end ---------- */

/*--------------- Coding part for Desktop Part Ends Here ------------- */

/*---------------- Mobile screen coding Starts From Here ----------------*/

@media only screen and (max-width: 600px) {
  /* Header - Starting Page only for Mobile Part */
  .header {
    min-height: 90vh;
    width: 100%;
    background-image: linear-gradient(
        rgba(10, 19, 30, 0.7),
        rgba(9, 18, 28, 0.5)
      ),
      url("../images/Habba/34.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
  }

  nav {
    display: flex;
    padding: 2% 4%;
    justify-content: space-between;
    align-items: center;
  }

  .nav-links ul li {
    display: block;
  }

  .nav-links ul li a {
    color: #00008b;
    text-decoration: none;
    font-size: 20px;
    font-weight: 1000;
    line-height: 0px;
  }

  .nav-links {
    position: fixed;
    background: #f44336;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 2s;
    background: silver;
  }

  nav .fa {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 25px;
  }

  .nav-links ul {
    padding: 30px;
  }

  .button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }

  .button-home {
    text-decoration: none;
    color: black;
    padding: 12px 70px;
    font-size: 15px;
    font-weight: 700;
    font-family: "Kanit", sans-serif;
    background: silver;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    margin: 10px 0px 0px 0px;
  }

  .button-home:hover {
    box-shadow: 0 0 5px 0;
    border-radius: 50px;
    background: black;
    padding: 12px 70px;
    color: white;
  }

  .header img {
    width: 50px;
    cursor: pointer;
    border-radius: 10px;
    margin: 40% 0% 0% 30%;
  }

  .text-box {
    top: 65%;
  }

  .text-box h1 {
    text-align: center;
    font-family: "Expletus Sans", sans-serif;
    font-size: 30px;
    font-weight: 800px;
    letter-spacing: 8px;
    margin: -100px 0px 0px 0px;
  }

  .text-box h2 {
    padding: 20px 0px 25px 0px;
    /*font-family: 'Cinzel Decorative', cursive;*/
    font-family: "Monoton", sans-serif;
    letter-spacing: 5px;
    font-size: 48px;
    font-weight: 100;
    margin: -20px 0px 0px 0px;
  }

  .text-box span {
    margin: 100px 0px 0px 0px;
    font-size: 30px;
  }

  .text-box p {
    padding: 0px;
    font-size: 15px;
    line-height: 150%;
    font-weight: 300;
  }

  /* Header - Starting Page CSS end Mobile Part ------------ */

  /* Countdown only for Mobile Part */
  .count {
    background: url("../images/Habba/beanstalk.webp");
    padding: 30px;
  }

  #countdown {
    font-family: "Syne", sans-serif;
    letter-spacing: 4px;
    background-color: #fff;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 1px;
    color: #0000ff;
    font-weight: bolder;
  }

  .stext {
    color: #ff6e00;
    font-size: 20px;
    letter-spacing: 10px;
    font-family: "Codystar", sans-serif;
  }

  /* Countdown CSS end Mobile Part ----------- */

  /* About Habba only for Mobile Part */
  .picture-sec .last-yr-snap .pict img {
    width: 20rem;
  }

  .about-habba {
    display: block;
    width: 100%;
    padding: 20px;
  }

  .about-habba-txt {
    width: 100%;
  }

  .about-habba-simbha {
    width: 100%;
  }

  .about-habba-simbha img {
    width: 15rem;
    border-radius: 0% 0% 40% 50%;
    display: block;
    margin: auto;
  }

  .about-habba-simbha1 img {
    width: 15rem;
    border-radius: 0% 0% 80% 40%;
    display: block;
    margin: auto;
  }

  .about-habba-txt p {
    font-size: 15px;
    letter-spacing: 0px;
  }

  /* About Habba CSS end Mobile Part ----------- */

  /* EDM Night only for Mobile Part */
  .picture-sec {
    width: 100%;
    text-align: center;
    padding: 25px;
    margin: auto;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgb(0, 0, 0)),
      url("../images/Habba/10.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    /* background-color: #00d9ff; */
  }

  .picture-sec .edm-cont {
    width: 100%;
  }

  .picture-sec .edm-cont h1 {
    background: -webkit-linear-gradient(#ff913d, #ff5500);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: rgba(255, 255, 255, 0) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    font-size: 55px;
    letter-spacing: 1px;
    /*font-family: "Exo 2", sans-serif;*/
    font-family: "Philosopher", sans-serif;
    margin: 0px 0px 0px 0px;
  }

  .picture-sec .edm-cont h2 {
    width: 100px;
    font-family: "Syne", sans-serif;
    text-align: left;
    font-size: 30px;
    margin: 30px 0px 10px 0px;
    color: greenyellow;
  }

  .picture-sec .edm-cont .edmh {
    width: 0px;
    font-family: "Syne", sans-serif;
    text-align: left;
    font-size: 35px;
    margin: 0px 0px 10px 0px;
    color: rgb(251, 72, 72);
  }

  .picture-sec .edm-cont p {
    /*text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.427);*/
    font-family: "Outfit", sans-serif;
    font-size: 14px;
    font-weight: 200;
    line-height: 20px;
    text-align: justify;
    width: 100%;
    margin: 0px 0px 15px 0px;
    letter-spacing: 1.5px;
  }

  .picture-sec .edm-cont .edmp {
    font-family: "Outfit", sans-serif;
    font-size: 14px;
    font-weight: 200;
    line-height: 20px;
    text-align: justify;
    width: 100%;
    margin: 0px 0px 15px 0px;
    letter-spacing: 1.5px;
  }

  .edm-cont a {
    margin: 20px;
  }

  .hero-btn1 {
    display: inline-block;
    text-decoration: none;
    color: black;
    border-radius: 100px;
    padding: 7px 54px;
    font-size: 15px;
    font-weight: 600;
    font-family: "Outfit", sans-serif;
    background: silver;
    position: relative;
    cursor: pointer;
    letter-spacing: 2px;
  }
  .hero-btn1:hover {
    background-color: #2d2d2d;
    margin: 20px;
    padding: 7px 24px;
    color: white;
    transition: 0.5s;
  }

  .picture-sec .edm-night img {
    width: 5rem;
    margin: 0rem;
    border-radius: 10px;
  }

  .picture-sec .last-yr-snap h3 {
    font-size: 80px;
    letter-spacing: 2px;
    font-family: "Syne", sans-serif;
    margin: 50px 0px 0px 0px;
  }

  .picture-sec .last-yr-snap .pict img {
    cursor: pointer;
    width: 20rem;
    border-radius: 8px;
    border: 5px solid white;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    margin: 40px 5px 5px 5px;
  }

  .pict {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  /* EDM Night CSS end Mobile Part ----------- */

  /* Footer Page only for Mobile Part */
  footer {
    background: #fff;
    border-top-right-radius: 125px;
    border-top-left-radius: 20px;
    bottom: unset;
  }

  .col img {
    border-top-right-radius: 20px;
    border-top-left-radius: 0px;
  }

  .col {
    flex-basis: 100%;
  }
  .col h1 {
    padding-top: 20px;
    padding-bottom: 0px;
    margin-bottom: 50px;
  }
  .col:nth-child(2),
  .col:nth-child(3) {
    flex-basis: 100%;
  }
  .copyrights {
    text-align: center;
    font-family: "Kanit", sans-serif;
    font-size: 15px;
    line-height: 1;
  }
  .underline {
    top: 45px;
  }
  ul li {
    margin-bottom: 15px;
  }
  .col ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: 420;
    font-family: "Outfit", sans-serif;
    letter-spacing: 1px;
    margin-left: -0px;
  }
  .social-icons a {
    width: 2px;
    height: 40px;
    border-radius: 10%;
    text-align: center;
    line-height: 0px;
    font-size: 30px;
    margin-left: 25px;
    cursor: pointer;
    padding: 0px 10px 0px 0px;
  }
  .copyrights {
    font-size: 13px;
  }

  /* Footer Page CSS end Mobile Part ----------- */

  /* INDEX CSS Coding part ends here */
}
