body{
    background: linear-gradient(to right, #000000, #1c1d1f);
}

.contactus-box {
    width: 85%;
    margin: 5rem auto;
    background-color: #000000b6;
    text-align: center;
    border-radius: 10px;
    box-shadow: rgba(39, 39, 39, 0.45) 0px 25px 20px -20px;
    padding: 25px;

}

.contactus img {
    width: 20rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactus-box .name {
    color: #fff;
    margin: 25px;
}

.contactus-box .name a {
    color: whitesmoke;
    text-decoration: none;
}

.habbamail a {
    text-decoration: none;
    color: #fff;
}

.map {
    width: 90%;
    margin: 5rem auto;
}

/* #Media queries */
@media only screen and (max-width: 600px) {

    .cnt-bx1 {
        display: block;
    }
    .contactus-box {
        width: 96%;
    }

}