body {
    /* background: url('/images/Contact-us-bg.jpg'); */
    background: linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8)), url('/images/Contact-us-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.contactus-box {
    width: 85%;
    margin: 5rem auto;
    background-color: #000000b6;
    text-align: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    padding: 25px;

}

.contactus img {
    width: 20rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactus-box .name {
    color: #fff;
    margin: 25px;
}

.contactus-box .name a {
    color: whitesmoke;
    text-decoration: none;
}

.habbamail a {
    text-decoration: none;
    color: #fff;
}

.map {
    width: 90%;
    margin: 5rem auto;
}

/* #Media queries */
@media only screen and (max-width: 600px) {

    .cnt-bx1 {
        display: block;
    }
    .contactus-box {
        width: 96%;
    }

}