main {
    /* background: url('/images/Contact-us-bg.jpg'); */
    background: linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8)), url('/images/Cultural-characters.jpg');
    background-color: rgb(70, 70, 224);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45vh;

}

.schedule {
    width: 100%;
    margin: auto;
    /* background: url('/images/Habba/2.jpg'); */
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('/images/Contact-us-bg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* color: #fff; */

}

.sub-schedule {
    padding: 5rem;
}


.schedule-date h2 {
    text-align: center;
    font-size: 2rem;
    color: #fff;
}

.schedules {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.schedules-card {
    justify-content: space-around;
    padding: 2rem;
    flex-wrap: wrap;
    border-radius: 5px;
    margin: 2rem;
    background: url('../images/Habba/beanstalk.webp');
    width: 40%;
}

.schedules-card h3 {
    text-transform: uppercase;
    font-size: 1.8rem;
}

.add {
    /* padding: 0rem 2rem; */
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.do-dont {
    background-color: rgba(0, 0, 0, 0.466);
    padding: 2rem;
    border-radius: 15px;
    width: 75%;
    color: #fff;
    margin: auto;
}

.do-dont h2 {
    text-align: center;
}

.do-dont li {
    margin: 8px;
}

.habba-calender {
    width: 90%;
    margin: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;

}
.habba-calender img {
    width: 32rem;
    border: 5px solid #fff;
    border-radius: 10px;
    margin: 2rem;
}

@media only screen and (max-width: 600px) {
    .sub-schedule {
        padding: 1rem;
    }
    .schedules-card {
        width: 90%;
    }
    .do-dont {
        width: 95%;
        text-align: justify;
    }
    .habba-calender img {
        width: 20rem;
    }
}



